.formMain {
    position: relative;
    text-align: center;
    color: #404040;
    font-family: Roboto;
    margin: 0px auto;
    margin-top: 150px;
    left: -100px;

}

input {
    margin: 10px;
    width: 22rem;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    background: #FFF;
    letter-spacing: 1.875px;
    font-weight: 600;
    color: #BBB9BC;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
}

.lbl {
    text-align: start;
    margin-left: -226px;
}

.lbl2 {
    text-align: start;
    margin-left: -266px;
}
.lblDate{
    text-align: start;
    margin-left: -34px;
}

.inp{
    width:50px;
}
.inp2{
    width: 150px;
}
#dateCvv{
    display: flex;
    justify-content: center;
    text-align: center; 
    
}


#btn{
    position: relative;
    top: -28px;
    width: 389px;
    height: 53px;
    border-radius: 6px;
    background: #220930;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
}

.validation{
    color: red;
    font-size: 14px;
    top: -8px;
    left: -115px;
    position: relative;
}
#validation1{
    left: -125px;
}

#validation2{
    left: -148px;
}


#validation3{
    left: -50px;
    top: -27px;
}
#validation4{
    left: 59px;
    top: -47px;
}